name: dep-update

on:
  # 手動觸發，可做用於任一 branch
  workflow_dispatch:
  # 排程觸發，只做用於 default branch
  schedule:
    - cron: "0 0 * * 1" # In UTC time, 格式請參考: https://crontab.guru/

jobs:
  dep-update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.24.x'
      - name: Update dependencies
        run: go get -t -u ./...
      - name: Tidy
        run: go mod tidy
      - name: Git Diff
        id: git-diff
        run: |
          git diff > /tmp/diff.log
          echo "sha=$(cat /tmp/diff.log | sha256sum | head -c 12)" >> $GITHUB_OUTPUT
          echo '```diff' > /tmp/diff.md
          cat /tmp/diff.log >> /tmp/diff.md
          echo '```' >> /tmp/diff.md
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        # 請參考 https://github.com/peter-evans/create-pull-request 以獲得更詳盡的說明
        with:
          commit-message: "chore: update dependencies"
          title: "chore: update dependencies"
          committer: bot <bot-noreply@softleader.com.tw>
          author: bot <bot-noreply@softleader.com.tw>
          body: >-
            chore: update dependencies
          labels: "dependencies-update"
          branch: "bot/${{ github.ref_name }}/bump-deps-${{ steps.git-diff.outputs.sha }}"
          delete-branch: true
      - name: Enable Auto-merge
        if: steps.cpr.outputs.pull-request-operation == 'created'
        run: gh pr merge --squash --auto "${{ steps.cpr.outputs.pull-request-number }}"
        env:
          GH_TOKEN: ${{ github.token }}

  keepalive:
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: actions/checkout@v5
      - uses: liskin/gh-workflow-keepalive@v1
